body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style the search result */
#search-result {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style the "Delete" button */
button[type="button"]:nth-of-type(3) {
    background-color: #f44336; /* Red */
}
